.btn--full {
  width: 100%; }

.btn {
  display: inline-block; }

.btn {
  overflow: visible; }

.btn {
  text-align: center; }

.btn {
  text-decoration: none; }

.btn {
  font-family: "Benton", Arial, Helvetica, sans-serif; }

.btn {
  vertical-align: middle;
  border: none;
  padding: 1em 1.5em;
  line-height: 1;
  font-size: 100%;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  transition: all 0.25s ease;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  color: #000000; }
  .btn:hover:not(.btn--disabled):not(.btn--inverse), .btn:active:not(.btn--disabled):not(.btn--inverse), .btn:focus:not(.btn--disabled):not(.btn--inverse) {
    background-color: #e5e5e5; }

.btn--disabled {
  opacity: 0.5;
  cursor: not-allowed; }

.btn--primary {
  background-color: #f2f2e8;
  border: 1px solid #c1c1b9; }
  .btn--primary:hover:not(.btn--disabled):not(.btn--inverse), .btn--primary:active:not(.btn--disabled):not(.btn--inverse), .btn--primary:focus:not(.btn--disabled):not(.btn--inverse) {
    background-color: #d9d9d0; }

.btn--accent {
  background-color: #9b1518;
  border: 1px solid #7c1013;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
  .btn--accent:hover:not(.btn--disabled):not(.btn--inverse), .btn--accent:active:not(.btn--disabled):not(.btn--inverse), .btn--accent:focus:not(.btn--disabled):not(.btn--inverse) {
    background-color: #8b1215; }

.btn--large {
  font-size: 120%; }

.btn--small {
  font-size: 75%; }

.btn--half {
  width: 50%; }

.btn--inverse {
  border-color: #ffffff;
  color: #ffffff;
  background-color: transparent;
  opacity: 0.8; }
  .btn--inverse:hover {
    background-color: transparent;
    opacity: 1; }

.btn--left:before {
  content: "←";
  padding: 0 0.5em; }