.article-graphic.chart {

	text-align: center;
	@include rhythm(0, 0, 0, 2);

	button {
		&:before {
			content: 'Show ';
		}
		&.expanded:before {
			content: 'Hide ';
		}
		@include rhythm-margins(-1, 1);
		padding-left: 3.5em;
		padding-right: 3.5em;
	}

	.highlight-gap {
		font-family: $sansSerifStrong;
		background: #bf6151;
		padding: 0.125em 0.35em;
	}

	.committed-gap {
		font-family: $sansSerifStrong;
		background: #edece4;
		padding: 0.125em 0.35em;
	}

	.content {
		text-align: left;
		font-family: $sansSerif;
		@include adjust-font-size-to($s3p5);
		@include adjust-leading-to(1);
	}

	.projects-category.rest {
		display: none;
	}

	p.projects-category-hed {
		margin: 0;
		padding: 0;
		font-family: $sansSerifStrong;
		@include adjust-font-size-to($s5);
	}

	p.projects-category-subhed {
		margin: 0;
		padding: 0;
		@include trailing-border();
		border-width: 1px;
		border-color: #e2e2df;
		@include rhythm(0, 0, 1/2, 1);
	}

	.projects {

		@include rhythm(0, 0, 0, 2);

		li {
			@include rhythm(0, 0, 0, 1);
		}
	}

	.bar-wrapper {

		width: 100%;
		overflow: hidden;

		.value {
			span {
				position: relative;
				left: 0.25em;
				font-family: $sansSerifStrong;
			}
		}

		.bar {
			overflow: hidden;
			float: left;
			position: relative;

			.committed {
				background: #edece4;
				float: left;
				span {
					font-family: $sansSerifStrong;
				}
			}
			.gap {
				background: #bf6151;
				float: left;
				text-align: center;
				span {
					font-family: $sansSerifStrong;
				}
			}
		}
	}
}